<!DOCTYPE html>
<html>
<head>
    <title>Impresso - Success</title>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<body style="background-color: #fcfcfc;">
    <div class="container"> 
        <div class="row">
            </br> </br> </br> </br>
            <div class="col-sm-12">
                {% if success %}
                    <h1 class="text-center" style="font-size: 100px; color: rgb(84, 80, 170);">Success.</h1>
                    <p class="text-center" style="font-size: 20px; color: black;">Your password successfully changed.</p>
                {% elif invalid %}
                    <h1 class="text-center" style="font-size: 100px; color: rgb(84, 80, 170);">Invalid.</h1>
                    <p class="text-center" style="font-size: 20px; color: black;">Your password request is invalid.</p>
                {% else %}
                    <h1 class="text-center" style="font-size: 100px; color: rgb(84, 80, 170);">Upps! An Error Occured...</h1>
                    <p class="text-center" style="font-size: 20px; color: black;">An error has occured when changing your password</p>
                    <p class="text-center" style="font-size: 20px; color: black;">Please try again later</p>
                {% endif %}
            </div>
        </div>
        <div class="row">
            </br> </br> </br> </br> </br> </br> </br> </br>
            <div class="col" align="center">
                <img src="https://cf.impresso.com/webpage/images/logo.png" alt="" style="width: 300px;"/>
            </div>
        </div>
    </div>
</body>
</html>

