<!DOCTYPE html>
<html>
<head>
    <title>Impresso - Change Password</title>
        <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>
<style>
    /**************************
      Override BOOTSTRAP STYLES
    **************************/

    .btn {
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: normal;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      cursor: pointer;
      -webkit-user-select: none;
         -moz-user-select: none;
          -ms-user-select: none;
              user-select: none;
      background-image: none;
      border: 1px solid transparent;
      border-radius: 4px;
      padding: 10px 16px;
    }
      
    .btn-lg {
      font-size: 18px;
      line-height: 1.33;
      border-radius: 6px;
    }

    .btn-primary {
      color: #fff;
      background-color: #428bca;
      border-color: #357ebd;
    }

    .btn-primary:hover,
    .btn-primary:focus,
    .btn-primary:active,
    .btn-primary.active,
    .open .dropdown-toggle.btn-primary {
      color: #fff;
      background-color: #3276b1;
      border-color: #285e8e;
    }

    /***********************
      OUTLINE BUTTONS
    ************************/

    .btn.outline {
        background: none;
        padding: 12px 22px;
    }
    .btn-primary.outline {
        border: 2px solid rgb(84, 80, 170);
        color: rgb(84, 80, 170);
    }
    .btn.outline:disabled {
        background: none;
        padding: 12px 22px;
    }
    .btn-primary.outline:disabled {
        border: 2px solid #e8e8e8;
        color: #e8e8e8;
    }
    .btn-primary.outline:hover, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
        color: rgb(255, 255, 255);
        border-color: rgb(84, 80, 170);
        background: rgb(84, 80, 170);
    }
    .btn-primary.outline:hover:disabled, .btn-primary.outline:focus, .btn-primary.outline:active, .btn-primary.outline.active, .open > .dropdown-toggle.btn-primary {
        color: #e8e8e8;
        border: 2px solid #e8e8e8;
        background: none;
    }

    .btn-primary.outline:active, .btn-primary.outline.active {
        border-color: #007299;
        color: #007299;
        box-shadow: none;
    }

    /***********************
      CUSTON BTN VALUES
    ************************/

    .btn {
        border: 0 none;
        font-weight: 700;
        letter-spacing: 1px;
        text-transform: uppercase;
    }
    .btn:focus, .btn:active:focus, .btn.active:focus {
        outline: 0 none;
    }
</style>
<body style="background-color: #fcfcfc;">
    <div class="container"> 
        <div class="row">
            </br> </br> </br> </br>
            <div class="col-sm-6">
                <h1 style="color: rgb(84, 80, 170);">Reset Password</h1>
                <p class="text-left" style="padding-left: 10px;">Use the form below to reset your password</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-5">
                <form method="post" id="passwordForm" action="/resetpassword/{{ reset_code }}">
                    </br>
                    <input type="password" class="input-lg form-control" name="newpassword" id="password1" placeholder="New Password" autocomplete="off">
                    <div class="row">
                        <div class="col-sm-12">
                            <span id="6char" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span> 
                            <span> 6 Characters Long </span> <br>
                        </div>
                    </div>
                    </br>
                    <input type="password" class="input-lg form-control" name="confirmpassword" id="password2" placeholder="Repeat Password" autocomplete="off">
                    <div class="row">
                        <div class="col-sm-12">
                            <span id="pwmatch" class="glyphicon glyphicon-remove" style="color:#FF0004;"></span>
                            <span> Passwords Match </span> 
                        </div>
                    </div>
                    <input type="text" name="key" style="visibility: hidden;" value='{{ reset_code }}'>
                    <button id="bReset" type="button" class="col-sm-12 btn btn-primary btn-lg outline" onclick="checkForm();" disabled> Reset Password </button>
                </form>
            </div>
            <img src="https://cf.impresso.com/webpage/images/logo.png" alt="" style="position: absolute; right: 20px; bottom: 20px; width: 300px;"/>
        </div>
    </div>
</body>

<script type="text/javascript">
    $("input[type=password]").keyup(function(){
    
    if($("#password1").val().length >= 6){
        $("#6char").removeClass("glyphicon-remove");
        $("#6char").addClass("glyphicon-ok");
        $("#6char").css("color","#00A41E");
    }else{
        $("#6char").removeClass("glyphicon-ok");
        $("#6char").addClass("glyphicon-remove");
        $("#6char").css("color","#FF0004");
        $("#bReset").prop("disabled",true);
    }

    
    if($("#password1").val() == $("#password2").val() && $("#password1").val() != ''){
        $("#pwmatch").removeClass("glyphicon-remove");
        $("#pwmatch").addClass("glyphicon-ok");
        $("#pwmatch").css("color","#00A41E");
        $("#bReset").prop("disabled",false);
    }else{
        $("#pwmatch").removeClass("glyphicon-ok");
        $("#pwmatch").addClass("glyphicon-remove");
        $("#pwmatch").css("color","#FF0004");
        $("#bReset").prop("disabled",true);
    }

    });

    function checkForm(){
        if($("#password1").val().length >= 6  &&  $("#password1").val() == $("#password2").val()){
            console.log("Submitting form");
            document.getElementById("passwordForm").submit();
        }
    };

</script>
</html>

